.footer-social-icon-yelp{
	border-radius: 60px;
	padding: 0.3em 0.4em;
	color:#c41200 ;
	box-shadow: 0px 0px 5px #c41200;
}
.footer-social-icon-facebook{
	border-radius: 60px;
    padding: 0.3em 0.56em;
	color:#3b5998 ;
	box-shadow: 0px 0px 5px #3b5998;
}
.footer-social-icon-twitter{
	border-radius: 60px;
	padding: 0.3em 0.4em;
	color:#0084b4 ;
	box-shadow: 0px 0px 5px #0084b4;
}
.footer-social-icon-youtube{
	border-radius: 60px;
	padding: 0.3em 0.4em;
	color:#bb0000 ;
	box-shadow: 0px 0px 5px #bb0000;
}
#contact-mail-success-alert {
	display:none;
	text-align: center;
}